<html>
<head>
  <title>Songwards</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  <script src="{{ url_for('static', filename='load_model.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Songwards</h1>
  <div id="app">
    <div id="song-list">
      <input id='song-search' type=text v-model="searchText">
      <button v-on:click='searchSongs'>Search</button>
      <div>
        <search-song-item
          v-for="song in searchedSongs"
          v-bind:key="song.uri"
          v-bind:song="song"
        ></search-song-item>
      </div>
      <div>
        <display-song-item
          v-for="song in selectedSongs"
          v-bind:key="song.uri"
          v-bind:song="song"
        ></display-song-item>
      </div>
    </div>
    <div id="word-box">
      <input id='word-search' type=text v-model="wordText">
      <button v-on:click='searchWord'>Search</button>
      <div id='current-word'>[[ currentWord ]]</div>
    </div>
  </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>